form {
    display: flex;
    //flex-direction: column;
}

button {
    margin: 20px 15px 0px 0px;
}

div {
    width: 100%;
}

table {
    width: 100%;
}

.datas {
    // width: 22%;
    width: 40%;
}
